@font-face{
	font-family: Ailerons;
	src: url(Ailerons-Typeface.otf);
}

html{
	font-family: Ailerons;
}

body{
	margin: 0;
}

h1{
	font-size: 64px;
	font-weight: 600;
	margin-bottom: 5px;
	color: #2274A5;
	font-family: Ailerons;
}

p{
	font-family: 'Exo', sans-serif;
	color: #131B23;
}

/************ Banner ***********/
.banner{
	height: 100vh;
	width: 100%;
	background-color: #E7DFC6;
}

.banner img{
	width: 80%;
	display: block;
	margin: auto;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

/************ Intro  ***********/
.intro{
	height: 80vh;
	width: 100%;
	background-color: white;
	margin-bottom: 5%;
	position: relative;
}

.main-image {
	width: 40%;
	float: left;
	position: relative;
}

.main-image img{
	width: 50%;
	margin: auto;
	position: absolute;
	left: 45%;
	top: 90%;
	transform: translate(-50%, -10%);
}

.main-info{
	width: 60%;
	float: right;
	text-align: center;	
	position: relative;
	height: 100%;
}	

.main-type{
	margin: auto;
	position: absolute;
	width: 70%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
/************ Ideation ***********/

.ideation{
	width: 100%;
	position: relative;	
	margin-bottom: -1%;
}

.ideation img{
	width: 100%;	
}

.ideation-container{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;	
	text-align: center;
	background-color: rgba(231, 223, 198, 0.8);
	border-radius: 1%;
	padding-bottom: 0.67em;
}

.ideation-container h1{
	margin-top: 0.3em;
}

/************ Wireframes ***********/

.wireframes{
	height: 250vh;
	width: 100%;
	position: relative;
	text-align: center;
}

.wireframes-banner{
	height: 100vh;
	width: 100%;
	background-color: #131B23;
	position: relative;
}

.wireframes-type{
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.wireframes-type p{
	color: white;
}

.wireframes-images{

}

#log-in{
	position: absolute;
	width: 20%;
	top: 40%;
	left: 20%;
	transform: translate(-50%, -50%);
}

#sign-up{
	position: absolute;
	width: 20%;
	top: 42%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#create-profile{
	position: absolute;
	width: 20%;
	top: 44%;
	left: 80%;
	transform: translate(-50%, -50%);
}

#rec-books{
	position: absolute;
	width: 20%;
	top: 76%;
	left: 20%;
	transform: translate(-50%, -50%);
}

#book-info{
	position: absolute;
	width: 20%;
	top: 78%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#chat{
	position: absolute;
	width: 20%;
	top: 80%;
	left: 80%;
	transform: translate(-50%, -50%);
}

/************ Color Pallete ***********/

.branding{
	height: 140vh;
	width: 100%;
	position: relative;
	text-align: center;
}

.branding-type{
	position: absolute;
	top: 15%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#main-logo{
	position: absolute;
	max-width: 25%;
	top: 45%;
	left: 30%;
	transform: translate(-50%, -50%);
}

#sec-logo{
	position: absolute;
	max-width: 25%;
	top: 45%;
	left: 70%;
	transform: translate(-50%, -50%);
}

#full-logo{
	position: absolute;
	max-width: 80%;
	top: 80%;
	left: 50%;
	transform: translate(-50%, -50%);
}
/************ Color Pallete ***********/

.color-scheme{
	height: 80vh;
	width: 100%;
	float: clear;
	position: relative;
	font-family: 'Exo', sans-serif;
	color: white;
	text-align: right;	
	font-size: 14px;
}

.color-scheme p {
	color: white;
}

.color-scheme span{
	font-family: 'Exo', sans-serif;
	padding-right: 5px;
}

.main-color{
	height: 100%; 
	width: 65%;
	float: left;
	background-color: #131B23;
	position: relative;
}

.color-hex-rgb{
	position: absolute;
    top: 70%;
    right: 0px;
    transform: translate(-20%, -50%);
}

.main-color p{
	position: absolute;
    top: 89%;
    right: 0px;    
    padding-right: 5px;
    transform: translate(-20%, -50%);
}

.color-asset1{
	width: 35%;
	height: 33.33%;
	float: right;
	background-color: #E7DFC6;
	position: relative;
}

.color-asset2{
	width: 35%;
	height: 33.33%;
	float: right;
	background-color: #816C61;
	position: relative;
}

.color-asset3{
	width: 35%;
	height: 33.33%;
	float: right;
	background-color: #2274A5;
	position: relative;
}

